.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
  font-family: "Poppins" ,sans-serif;
  margin: 0;
  padding: 0;
}

p{
  font-size: 1.6rem;

}

h1{
  font-size: 6rem;

}
h3{
  font-size: 2rem;
}
h2{
  font-size: 3rem;
}
.app{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  /* background: rgba(0,0,0,0.4); */
  
}
.app:before{
  content: ' ';
  background: url("./assets/pic.jpg") center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  overflow-y: hidden;
  z-index: -1;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color:white;
  position: relative;
  width: 700px;
  height: 600px;
  /* margin: auto; */
  padding: 0 1rem;
  top:5%;
  left: 2%;
 padding-bottom: 2rem !important;
  /* overflow: hidden; */
}
.top{
  padding-top: 1rem;
  width: 100%;
  margin: 1.5rem 4rem;

}
.description{
  position: absolute;
  right:-85%;
  /* transform: rotate(270deg); */
}
.description-2{
  position: absolute;
  right:-85%;
  bottom: 47%;
}

.bottom{
  display: flex;
  justify-content: space-around;
  background: rgba(255,255,255,0.4);
  margin-left: 70px;

  border-radius: 12px;
   padding: 1rem;
   text-align: center;
}
.bold{
  font-weight: 700 ;
}
.app input{
 padding: .7rem;
margin-left:37%;
width: 24%;
margin-top: 3%;
background-color: rgba(255,255,255,0.3);
border: 3px solid white;
border-radius: 25px;
color: whitesmoke;
}

::placeholder{
  color: white;
}
.bottom-2{
  display: flex;
  justify-content: space-around;
  background: rgba(255,255,255,0.4);
  margin-left: 70px;

  border-radius: 12px;
   padding: 1.5rem;
   text-align: center;
   margin-bottom: 2rem;
}